body{   
	height: 100wv;
    background-position: center;
    background-size: cover;
    background: linear-gradient( #333, #eee 10%, #333 100%, #eee 10%);
}

.navbar-default{
    background-color: rgba(48, 56, 89, 0.8);
    border: 3px solid black;
}

/* SEARCH BAR */
/*********************************************************************************************/
.form-group{
	margin-left: 300px;
}
/*********************************************************************************************/

/* HEALTH HACKS HEADER */
/*********************************************************************************************/
.navbar-default .container .navbar-header{
	color: pink;
	text-align: center;
	font-size: 15px;
	font-family: 'Black Han Sans', sans-serif;
	padding-top: 1%;
}
/*********************************************************************************************/

.navbar-collapse .navbar-left .form-group input{
	color: black;
	width: 77%;
	border: 2px solid black;
	background-color: rgb(210, 215, 221);
	
}

.btn-primary{
	width: 21%;
	color: black;
	background-color: rgb(111, 113, 116);
	border: 2px solid black;
}

.btn-primary:hover{
	color: white;
	background-color: transparent;
	border: 2px solid rgb(222, 226, 232);
}

/* ROW ONE */
/**********************************************************************************/
.container{
	@media (min-width: 1200px);
	width: 1170px;
}

/* PATIENT NAME */
.container .patient-Name:nth-of-type(1) label{
	width: 35%;
	text-align: center;
	color: black;
	font-size: 30px;
	font-family: 'Russo One', sans-serif;
	border: 2px solid black;
	margin: 0 33%;
	margin-bottom:  5%;
}

.row1-col1 .patient-Data div .pi-p{
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: georgia;
}

.row1-col1 .patient-Data div p{
	margin-bottom: 0;
}

.row1-col1 .patient-Data .col1 p{
	height: 100%;
	margin-bottom: 0;
}

/*MAIN DIV  */
.row1-col1 .patient-Data{
	width: 49%;
	height:350px;
	border: 5px solid black;
	float: left;
}

.row1-col2 .disease-Risk div p{
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: georgia;
	margin: 0;
	border-bottom: 1px dashed black;
}

.row1-col2 .disease-Risk{
	width: 49%;
	height: 350px;
	border: 5px solid black;
	margin-left: 2%;
	float: left;
}

/* TABLE INSIDE THE PATIENT INFO DATA */
/**********************************************************************************/
.container .row1-col1 .patient-Data div{
    width: 100%;
    height: 100%;
    overflow: auto;
}

table{
	width: 100%;
	height: 100%;
}

table tr .col1{
	width: 28%;
	height: 100%;
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: georgia;
    /*border: 3px solid black;*/
    /*background-color: #ccc;*/
    
}

table tr td{
	width: 72%;
	height: 100%;
	border: 3px solid black;
    /*background-color: #ccc;*/
	text-align: center;
	float: left;
}
/**********************************************************************************/

/* ROW TWO */
/**********************************************************************************/
.container .row2 {
	width: 100%;
	height: 350px;
	border: 5px solid black;
	margin-top: 5%;
	float: left; 
	overflow: auto;
}

.row2 .doctor-Log div:nth-of-type(1) .pv-p{
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: georgia;
	margin-bottom: 0;
	border-bottom: 1px dashed black;
}

.doctor-Log table th{
	width: 25%;
	height: 100%;
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: georgia;
	border: 3px solid black;

}

.container .row2 .scroll{
	width: 100%;
    height: 100%;
    overflow: auto;
}

/**********************************************************************************/

/* ROW THREE */
/**********************************************************************************/
.container .row3{
	width: 100%;
	height: 350px;
	border: 5px solid black;
	margin-top: 5%;
	float: left;
}

.row3 .risk-Prevention div p{
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: georgia;
	margin-bottom: 0;
	border-bottom: 1px dashed black;
}
/**********************************************************************************/

/* SUBMIT BUTTON */
/**********************************************************************************/
.row3 .risk-Prevention div .btn-primary{
	color: black;
	width: 10%;
	background-color: rgb(111, 113, 116);
	margin-left: 88%;
    margin-top: 22%;
    border: 2px solid black;
}

.row3 .risk-Prevention div .btn-primary:hover{
	color: white;
	background-color: transparent;
	border: 2px solid rgb(222, 226, 232);
}
/**********************************************************************************/





